.bg-light {
    background-color: #496582!important;
}

.margin-top-20{
    margin-top: 20px;
}
.feature-img{
    max-height: 250px;
}


/* .navbar-nav>li {
    margin-left: 40px;
    padding: 10px;
    font-weight: bold;
    color:white;
    text-align:center;
} */

.example_a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #6069bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.example_a:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
     box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
	text-decoration: none;

 }

.example_b {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
	outline:none;

}

.example_b:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
     box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
	text-decoration: none;

 }

 .example_c {
    color: rgb(255, 255, 255) !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #06182c;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.example_c:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
     box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
	text-decoration: none;
 }



#main-div{

    text-align: center;
    /* color: green; */
    margin-top: 20px;

    margin-bottom: 10px;
}
/**abut image*/

.about-img
{
	height: 100%;
	margin-top: 0px;
	background-size:auto 100%;
	background-repeat: no-repeat;


}


/*------------------------------registration--------------------*/

.cert_img{
	height: 1000px;
	width: 1000px;
}
.home_img{
	height: 100%;
	margin-top: 0px;
	opacity: 0.7;
	background-repeat: no-repeat;

}
.reg_img
{
	height: 675px;
	margin-top: 0px;
    background-image: url("../images/4.png");
}
.reg_img_2
{
	height: 675px;
	margin-top: 0px;
    background-image: url("../images/5.jpg");
}

.box2
{
	height: auto;
	width: 1000px;
	background-color: black;
	margin: 0px auto;
	opacity: .7;
	color: white;
	padding: 20px;
}

.search-box
{
	height: 675px;
	width: 1000px;
	background-color: black;
	margin: 0px auto;
	opacity: .7;
	color: white;
	padding: 20px;
}



/*Modal*/
/* /*  */
.modal-confirm {		
	color: #636363;
	width: 325px;
	font-size: 14px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #82ce34;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #6fb32b;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
} 

/* 
	example easy checkout blade
*/

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
} 

.center {
	margin-left: auto;
	margin-right: auto;
  }

th,td {
	padding: 5px;
	text-align: left;    
  }

  .box3
{
	height: auto;
	width: auto;
	background-color: black;
	margin: 0px auto;
	opacity: .7;
	color: white;
	padding: 20px;
}

.btnD {
	/* background-color: DodgerBlue; */
	background-color: Transparent;
	background: none;
	border: none;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btnD:hover {
	background-color: RoyalBlue;
	text-decoration: none;
  }
